.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  text-decoration: none;
  list-style: none;
  color: white;
}
.footer__column-link:hover {
  opacity: 0.6;
  transition: opacity .2s linear;
}
